html,
body,
#root {
  height: 100%;
}

.pf-v6-c-content {
  --pf-v6-c-content--small--Color: var(
    --pf-t--global--color--status--danger--default
  ); /* changes all <small> color to the semantic token for danger */
  --pf-v6-c-content--blockquote--BorderLeftColor: var(
    --pf-t--global--color--nonstatus--purple--default
  ); /* changes all <blockquote> left border color to the semantic token for non-status (purple) */
  --pf-v6-c-content--hr--BackgroundColor: var(
    --pf-t--global--color--nonstatus--yellow--default
  ); /* changes a <hr> color to the semantic token for non-status (yellow) */
}

.tags-table {
  width: auto;
}

.tags-table tr:where(.pf-v6-c-table__tr) > :where(th, td):first-child {
  padding-inline-start: 0;
}

.tags-table th {
  padding-block-start: 0;
}

/* only add top margin to headers that are not the first one */
.image-details h4:not(:first-child) {
  margin-top: var(--pf-t--global--spacer--lg);
}

.image-details h4 {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.registry-variant-info {
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.registry-variant-info > div {
  min-width: 0;
  overflow-wrap: anywhere;
}

@media (max-width: 768px) {
  .registry-variant-info {
    grid-template-columns: minmax(0, 1fr);
  }
}

.pf-v5-u-my-md {
  padding-top: inherit;
}
